@charset "UTF-8";

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    color: #4b4b4b;
    font-family: Helvetica, sans-serif;
    padding: 150px 150px 150px 150px;
    background-color: #f7f7f7;
    display: flex;
}

/* 共通 */
/* .header
--------------------------------------- */
header{
    width: 150px;
    position: fixed;
}
.main-ttl h1{
    font-size: 49px;
    font-weight: bold;
    letter-spacing: 2.45px;
    margin-bottom: 8px;
}
.main-ttl h2{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 6.4px;
    margin-bottom: 27.5px;
}
.line-1{
    margin-bottom: 17.5px;
}
.line-2{
    margin-bottom: 19.5px;
}

/* .nav
--------------------------------------- */
nav h3{
    font-size: 32px;
    letter-spacing: 1.9px;
    margin-bottom: 75px;
}
a:link{
    color: #4b4b4b;
}
a:visited{
    color: #4b4b4b;
}

/* .main
--------------------------------------- */
main{
    width: 1180px;
    margin-left: 290px;
}

/* トップページ　共通 */
/* .container01-04
--------------------------------------- */
.member-ttl{
    margin-bottom: 12px;
}
.member-ttl h4{
    font-size: 32px;
}
.photo-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo-area div{
    width: 297px;
    height: 297px;
}
.photo-area div:nth-of-type(6){
    background: url(../img/box.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
    position: relative;
}
.photo-area div:nth-of-type(6) h5{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 129px;
    right: 0;
    left: 0;
    text-align: center;
}
.photo-area div:nth-of-type(6):hover{
    opacity: 0.4;
}

/* トップページ　個人 */
/* .container01
--------------------------------------- */
.container01{
    margin-bottom: 200px;
}
.container01 .photo-area div:nth-of-type(1){
    background: url(../img/ryoka01.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container01 .photo-area div:nth-of-type(2){
    background: url(../img/ryoka02.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container01 .photo-area div:nth-of-type(3){
    background: url(../img/ryoka03.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container01 .photo-area div:nth-of-type(4){
    background: url(../img/ryoka04.jpg) no-repeat center center;
    background-size: cover;
}
.container01 .photo-area div:nth-of-type(5){
    background: url(../img/ryoka05.png) no-repeat center center;
    background-size: cover;
}

/* .container02
--------------------------------------- */
.container02{
    margin-bottom: 200px;
}
.container02 .photo-area div:nth-of-type(1){
    background: url(../img/mayuko01.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container02 .photo-area div:nth-of-type(2){
    background: url(../img/mayuko02.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container02 .photo-area div:nth-of-type(3){
    background: url(../img/mayuko03.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container02 .photo-area div:nth-of-type(4){
    background: url(../img/mayuko04.jpg) no-repeat center center;
    background-size: cover;
}
.container02 .photo-area div:nth-of-type(5){
    background: url(../img/mayuko05.jpg) no-repeat center center;
    background-size: cover;
}

/* .container03
--------------------------------------- */
.container03{
    margin-bottom: 200px;
}
.container03 .photo-area div:nth-of-type(1){
    background: url(../img/kiyomi01.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container03 .photo-area div:nth-of-type(2){
    background: url(../img/kiyomi02.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container03 .photo-area div:nth-of-type(3){
    background: url(../img/kiyomi03.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container03 .photo-area div:nth-of-type(4){
    background: url(../img/kiyomi04.jpg) no-repeat center center;
    background-size: cover;
}
.container03 .photo-area div:nth-of-type(5){
    background: url(../img/kiyomi05.jpg) no-repeat center center;
    background-size: cover;
}

/* .container04
--------------------------------------- */
.container04{
    margin-bottom: 200px;
}
.container04 .photo-area div:nth-of-type(1){
    background: url(../img/yumi01.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container04 .photo-area div:nth-of-type(2){
    background: url(../img/yumi02.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container04 .photo-area div:nth-of-type(3){
    background: url(../img/yumi03.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}
.container04 .photo-area div:nth-of-type(4){
    background: url(../img/yumi04.png) no-repeat center center;
    background-size: cover;
}
.container04 .photo-area div:nth-of-type(5){
    background: url(../img/yumi05.png) no-repeat center center;
    background-size: cover;
}

/* 下層ページ　共通 */
/* .main-area
--------------------------------------- */
.main-area{
    width: 1410px;
    height: 410px;
    position: relative;
}
.main-area p{
    font: Bold 60px/72px Helvetica;
    font-weight: bold;
    text-align: center;
    top: calc(50% - 30px);
    left: calc(50% - 231px);
    opacity: 0.51;
    position: absolute;
}
.mayuko{
    color: #0811F0;
}

/* .sub-area
--------------------------------------- */
.sub-area{
    width: 1410px;
    display: flex;
}

/* .photo-block
--------------------------------------- */
.photo-block{
    width: 761px;
    height: 487px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.photo-block figure{
    width: 364px;
    height: 227px;
    margin-bottom: 33px;
}

/* .profile-block
--------------------------------------- */
.profile-block{
    margin-top: 23px;
    margin-left: 74px;
}

.profile-block h6{
    font: Bold 38px/46px Helvetica;
    text-align: left;
}
.profile-block .ttl{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
.profile-block p{
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
}
